:root{
	font-size:1rem;
	--text-primary: #EFEEF1;
	--text-secondary: #ececec;
	--bg-primary: #222d4b;
	--bg-secondary: #131827;
	--btn-primary:#3d769b;
	--btn-primary-hover:#5184a5;
	--btn-info: #3a4f8a;
	--btn-defaulted:#999999;
	--btn-success:#489e67;
	--btn-warning:#c58e2f;
	--btn-danger:#f44336;
	--transition-speed: 600ms;
	--big-card-size: 20vw;
	--fluperblue: #21325a;
}
*{
	text-decoration: none;
	font-family: sans-serif;
	/* Sans-serif Font */
	color: var(--text-primary);
	/* White Text */
}
body::-webkit-scrollbar{
	width:0.25rem;
}
body::-webkit-scrollbar-track{
	background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
	background: #6649b8;
}
body{
	/*background-image: url("bgwaves.svg") ;
	*/
	background: var(--bg-primary);
	margin: 0;
	padding: 0;
}
/* Login Screen*/
.loginwrapper{
	text-align: center;
	/* Centered Text */
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
	font-family: sans-serif;
	/* Sans-serif Font */
	/*font-size: 3vw;
	/* Setting the font size equal to 4.5 times the height of*/
	font-size:calc(18px + 2vw);
	margin-bottom: 3vh;
	color: white;
}
.loginsubmitbutton{
	border: none;
	margin-top: 5vh;
	/*background: rgb(50,36,177);
	*/
	background: var(--btn-primary);
	background: linear-gradient(90deg, rgba(50,36,177,1) 0%, rgba(81,45,212,1) 50%, rgba(113,54,252,1) 100%);
	color:#ffff;
	border-radius: 26px;
	transition: 0.2s;
	width: 90%;
	height:4em;
	text-align: center;
	font-size: medium;
	font-weight:600;
	font-size: 1rem;
}
.loginsubmitbutton:hover{
	box-shadow: 0 0 0 4px #215c83, 0 0 0 8px var(--btn-primary);
}
.logincard{
	text-align: center;
	/* Centered Text */
	margin:22vh;
	padding: 5vh 3vw 10vh 3vw;
	width:25vw;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 26px;
	border-width: 100px;
	background:var(--btn-info);
	backdrop-filter: blur(10px);
	min-width: 220px;
	align-items: center;
}
.textfield{
	display:grid;
	gap: 1.5vh;
	text-align: start;
	color: #55868C;
}
.textfield input{
	border-width: 0;
	border-radius: 26px;
	padding: 2vh;
	background-color: #EAF7E8;
	color: var(--btn-primary);
}
.error{
	margin-bottom: 3vh;
	color: white;
	font-size: 1.2rem;
}
main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2em;
	margin-top:13vh;
	margin-left: 10vw;
	width: 85%;
}
/* End of Login Screen */
/* Nav Bar */
.navbar{
	/*Nav Bar Wrapper*/
	background: var(--btn-primary);
	position: fixed;
	transition: 200ms ease;
	z-index: 10;
}
.navbar-nav{
	/*Navbar Container*/
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.nav-item{
	/*each Nav Items*/
	width: 100%;
}
.nav-item:last-child{
	/*last child*/
	margin-top: auto;
}
.nav-link{
	/* Each box of nav */
	display: flex;
	align-items: center;
	height: 5rem;
	/* must match margin-left of main*/
	text-decoration: none;
	filter: grayscale(100%) opacity(0.5);
	transition: var(--transition-speed);
}
.nav-link:hover{
	/* box hover */
	background: var(--btn-primary-hover);
	transition: 200ms ease;
	filter: grayscale(0) opacity(1);
}
.link-text{
	/* each nav button's label*/
	display: none;
	margin-left:1rem;
}
.nav-link svg{
	/* each nav button's picture*/
	width: 2rem;
	margin: 0 1.5rem;
}
.nav-link:hover svg{
	/* nav button on-hover*/
	/*fill: var(--bg-primary);*/
	transform: scale(1.5);
}
.logo{
	/* logo area */
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color:var(--text-primary);
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.3ch;
	width: 100%;
}
.logo svg{
	/* logo icon */
	transform: rotate(0deg);
	transition: transform var(--transition-speed);
}
.navbar:hover .logo svg{
	/*logo icon on-hover*/
	transform: rotate(360deg);
}
/* Notification Card*/
.notifications{
	flex: 1 1 auto;
	background: var(--btn-info);
	text-align: center;
	/* Centered Text */
	padding-bottom: 3vh;
	padding-top: 2vh;
	padding-left: 2vw;
	padding-right: 2vw;
	height: fit-content;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 26px;
	border-width: 100px;
	min-width: 220px;
	min-height: 220px;
}
.notifications ul{
	margin-bottom: 1vh;
	padding-left: 0;
	list-style:circle;
	text-align: start;
	padding-left: 3vw;
	padding-right: 2vw;
}
.notifications li{
	line-break: normal;
	word-wrap: break-word;
	margin-bottom: 2vh;
	text-decoration: none;

}
.notifications li:hover{
	background:var(--btn-primary-hover);
}
/*end notifications card*/
/* Monthly sales card*/
.msales{
	background: var(--btn-info);
	text-align: center;
	/* Centered Text */
	padding-bottom: 3vh;
	padding-top: 2vh;
	padding-left: 2vw;
	padding-right: 2vw;
	height: fit-content;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 26px;
	border-width: 100px;
	min-width: 220px;
	min-height: 220px;
}
.msales h2{
    margin-bottom: 8vh;
}
.restocklog{
	background: var(--btn-info);
	text-align: center;/* Centered Text */
	padding-bottom: 3vh;
	padding-top: 2vh;
	padding-left: 2vw;
	padding-right: 2vw;
	height: fit-content;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 26px;
	border-width: 100px;
	min-width: 220px;
	min-height: 220px;

}
.restocklog .table{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-self: center;
}
.restocklog .h2{
	flex-grow: 2;
}
.restocklog .name {
	display: flex;
	flex-direction:column;
	columns: 2;
	flex-wrap: wrap;
	list-style-type:none;
	text-align: start;
}
.restocklog .date {
	display: flex;
	flex-direction:column;
	columns: 2;
	flex-wrap: wrap;
	list-style-type:none;
	text-align: start;
}
.restocklog .quantity {
	display: flex;
	flex-direction:column;
	columns: 2;
	flex-wrap: wrap;
	list-style-type:none;
	text-align: start;
}
.stockpurchcard{
    margin: auto;
    text-align: center; /* Centered Text */
	width:25vw;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 26px;
	border-width: 100px;
	background:var(--btn-info);
	backdrop-filter: blur(10px);
	min-width: 220px;
}





.stockview{
	margin-top: 2vh;
	margin-left: 10vw;
	margin-right: 5vw;
}
.stockview .content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.stockview .content table{
	border: 2px solid #cecfd5;
	border-spacing: 0;
	width: 100%;
}
.stockview .content th{
	padding: 10px 15px;
	border: 1px solid #cecfd5;
	background: var(--btn-info);
	color: #fff;
}
.stockview .content td{
	border-bottom: 1px solid #cecfd5;
	border-right: 1px solid #cecfd5;
	padding: 10px 15px;
	text-align: center;
}
.stockview .content tbody tr:nth-child(even) {
	background: #555558;
}
.stockview .content tbody tr:nth-child(even):hover {
	background-color: var(--btn-primary-hover);
}
.stockview .content tr:hover{
	background-color: var(--btn-primary-hover);
}

.reportview{
	margin: 5vh 3vw 10vh 10vw;
	padding: 2vh;
	width:85%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 26px;
	border-width: 100px;
	background:var(--btn-info);
	backdrop-filter: blur(10px);
	min-width: 220px;
	height: 100vh;
	
}

.reportview form{
	border-bottom: #131827;
	border-radius: 26px;
	background-color: var(--btn-primary);
	padding: 1vh 1vw 1vh 1vw;
}

.reportview .price{
	color:black;
}

.txdate{
	color: #131827;
	margin-right: 2vw;
}
.sbt_btn{
	color: black;
	margin-top: 1vh;
	width: auto;
	padding: 1vh 1vw 1vh 1vw;
	border: none;
	background: linear-gradient(90deg, rgba(50,36,177,1) 0%, rgba(81,45,212,1) 50%, rgba(113,54,252,1) 100%);
	color:#ffff;
	border-radius: 26px;
	transition: 0.2s;
	height:3rem;
	text-align: center;
	font-weight: 600;
	font-size: 0.8rem;
}
.reporttable{
	border: 2px solid #cecfd5;
	border-spacing: 0;
	width: 96%;
	margin-left: 2vw;
	margin-right: 2vw;
}
.reporttable th{
	padding: 10px 15px;
	border: 1px solid #cecfd5;
	background: var(--btn-info);
	color: #fff;
}
.reporttable td{
	border-bottom: 1px solid #cecfd5;
	border-right: 1px solid #cecfd5;
	padding: 10px 15px;
	text-align: center;
}
.reporttable tr:hover{
	background-color: var(--fluperblue);
}
.reportlabels{
	margin-left: 3vw;
	margin-top: 5vh;
}
.reportlabels .backb{
	text-align: right;
	margin-right: 3vw;
}

.roleview{
	margin-top: 2vh;
	margin-left: 10vw;
	margin-right: 5vw;
}

.roleview .content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.roleview .content table{
	border: 2px solid #cecfd5;
	border-spacing: 0;
	width: 100%;
}
.roleview .content th{
	padding: 10px 15px;
	border: 1px solid #cecfd5;
	background: var(--btn-info);
	color: #fff;
}
.roleview .content td{
	border-bottom: 1px solid #cecfd5;
	border-right: 1px solid #cecfd5;
	padding: 10px 15px;
	text-align: center;
}
.roleview .content tbody tr:nth-child(even) {
	background: #555558;
}
.roleview .content tbody tr:nth-child(even):hover {
	background-color: var(--btn-primary-hover);
}
.roleview .content tr:hover{
	background-color: var(--btn-primary-hover);
}

.roleview input{
	color:#131827;
}
.roleview button{
	color: #131827;
}
.roleview select{
	color: #131827;
}
.reportview .detailedspecs{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reportview .detailedspecs img{
	height: 300px;
	width: 400px;
}

.reportview .detailedtext{
	text-align: start;
	margin-left: 2vw;
}
.reportview .priceform{
	background-color: var(--btn-info);
	
}
.reportview .priceform input{
	color: black;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 26px;
	
}
.reportview .priceform button{
	color: black;
	margin-top: 1vh;
	width: auto;
	padding: 1vh 1vw 1vh 1vw;
	border: none;
	background: linear-gradient(90deg, rgba(50,36,177,1) 0%, rgba(81,45,212,1) 50%, rgba(113,54,252,1) 100%);
	color:#ffff;
	border-radius: 26px;
	transition: 0.2s;
	height:3rem;
	text-align: center;
	font-weight: 600;
	font-size: 0.8rem;
}
.approvedishcss{
	margin: 5vh 3vw 10vh 10vw;
	padding: 2vh;
	width:85%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 26px;
	border-width: 100px;
	background:var(--btn-info);
	backdrop-filter: blur(10px);
	min-width: 220px;
	height: 100vh;
	
}

.approvedishcss form{
	border-bottom: #131827;
	border-radius: 26px;
	
	padding: 1vh 1vw 1vh 1vw;
}

.approvedishcss .approve{
	border: none;
	/* margin-top: 2vh; */
	/*background: rgb(50,36,177);
	*/
	background: rgb(50,255,0);
	background: linear-gradient(90deg, rgba(50,255,0,1) 0%, rgba(43,221,0,1) 30%, rgba(41,208,0,1) 48%, rgba(44,227,0,1) 70%, rgba(20,255,0,1) 100%); 
	color:#ffff;
	border-radius: 26px;
	transition: 0.2s;
	width: 20%;
	height:2.5em;
	text-align: center;
	font-size: medium;
	font-weight:600;
	font-size: 1rem;
}

.approvedishcss .deny{
	border: none;
	/* margin-top: 2vh; */
	/*background: rgb(50,36,177);
	*/
	background: rgb(251,0,0);
	background: linear-gradient(90deg, rgba(251,0,0,1) 0%, rgba(196,27,27,1) 30%, rgba(156,46,46,1) 48%, rgba(156,46,46,1) 70%, rgba(255,0,0,1) 100%); 
	color:#ffff;
	border-radius: 26px;
	transition: 0.2s;
	width: 20%;
	height:2.5em;
	text-align: center;
	font-size: medium;
	font-weight:600;
	font-size: 1rem;
}

.approvedishcss .ingredname{
	border: none;
	/* margin-top: 2vh; */
	background: transparent;	
	color:#ffff;
	border-radius: 26px;
	transition: 0.2s;
	width: 90%;
	/* height:4em; */
	text-align: center;
	font-size: medium;
	font-weight:600;
	font-size: 1.5rem;
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
}

.card form {
     display: grid;
    grid-gap: 10px;
    grid-template-columns: 120px auto; /* Adjust the width of the first column as needed */
    align-items: center;

}

.card label {
    font-weight: bold;
}

.card input[type="text"],
input[type="password"],
select {
    /* display: grid; */
    grid-gap: 10px;
    grid-template-columns: 120px auto; /* Adjust the width of the first column as needed */
    align-items: center;
	color:#333;
}

.card .inputbutton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card .inputbutton:hover {
    background-color: #0056b3;
}
.signupview{
	width: 540px;
	margin: 40px auto;
	margin-top: 15vh;
	padding: 20px;
	border-radius: 15px;
	background:var(--btn-info);
	box-shadow: 0px 10px 40px 0px rgba(47,47,47,.1);
}

.signupview #title{
	text-align: center;
}

.signupview label{
	display: inline-block;
}

.signupview input[type ="password"]{
  padding: 6px;
  margin: 10px auto;
  position: sticky;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: white;
  color: black;
  margin-bottom: 3px;
  margin-right: 3px;
}

.signupview #password{
	width: 80%;
	margin-left: 4px;
}

.signupview #confirmpassword{
	width: 70%;
}

.signupview input[type="text"]{
  padding: 6px;
  margin: 10px auto;
  width: 80%;
  position: sticky;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: white;
  color: black;
  margin-bottom: 3px;
  margin-right: 3px;
}

.signupview input[type="number"]{
  padding: 6px;
  margin: 10px auto;
  position: sticky;
  width: 10%;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: white;
  color: black;
  margin-bottom: 3px;
  margin-right: 3px;
}

.signupview #role {
  padding: 6px;
  margin: 10px auto;
  position: sticky;
  border-radius: 5px;
  border: 1px solid lightgrey;
  color: black;
  margin-bottom: 3px;
  margin-right: 3px;
  z-index: 10;
  color:black;
  margin-left: 2px;
}

.signupview input[type="Submit"]{
  margin: 10px auto;
  display: block;
  width: 40%;
  height: 40px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  color: #000000
}

.signupview input[type="Submit"]:hover{
  background: #2691d9;
  color: #e9f4fb;
  transition: .5s;
}

.chefview{
	width: 540px;
	margin: 40px auto;
	margin-top: 15vh;
	padding: 20px;
	border-radius: 15px;
	background:var(--btn-info);
	box-shadow: 0px 10px 40px 0px rgba(47,47,47,.1);
}

.chefview #title{
	text-align: center;
}

.chefview label{
	display: inline-block;
}

.chefview input[type="text"]{
  padding: 6px;
  margin: 10px auto;
  position: sticky;
  width: 20%;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: white;
  color: black;
  margin-bottom: 3px;
  margin-right: 3px;
}

.chefview input[type="number"]{
  padding: 6px;
  margin: 10px auto;
  position: sticky;
  width: 10%;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background: white;
  color: black;
  margin-bottom: 3px;
  margin-right: 3px;
}

.chefview #recipename{
	padding: 6px;
	width: 50%;
}

.chefview #quantity{
	width: 10%;
}

.chefview #addbutton{
  border: none;
  background-color: inherit;
  color: dodgerblue;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.chefview input[type="Submit"]{
  margin: 10px auto;
  display: block;
  width: 40%;
  height: 40px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  color: #000000
}
.chefview input[type="Submit"]:hover{
  background: #2691d9;
  color: #e9f4fb;
  transition: .5s;
}

.chefview .remove {
  background: none!important;
  font-size: 28px;
  border: none;
  padding-top: 1;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
}

.contain{
    padding: 0 10px;
}

.col-md-9{
    background-image: url("bgwaves.svg");
}

.menu , .cart{
    height: 85vh;
}

.menu{
    overflow-y: scroll;
}

.sub-nav{
    padding: 10px;
    border: 0;
}

.type-buy{
    width: 100%;
}

.custom-bg {
    background-color: #FF0000;
}

.item-list{
    position: relative;
    height: 57vh;
    padding-right: 2%;
    overflow-y: scroll;
}

.quantity{
    width: 15%;
}

.card{
    cursor: pointer;
}

#buy-type{
    color: black;
    border-radius: 0;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 38%;
}

.remove-all{
    width: 100%;
    border-radius: 0;
}

.transparent-button {
    background: none;
    padding: 0;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}



/*small screens*/
@media only screen and (max-width: 600px){
	.navbar{
		bottom:0;
		width:100vw;
		height:5rem;
	}
	.logo{
		display: none;
	}
	.navbar-nav{
		flex-direction:row;
	}
	.nav-link{
		justify-content: center;
	}
	.notifications{
		width: calc(30vw);
	}
	.msales{
		width: calc(30vw);
	}
	.restocklog{
		width: calc(30vw);
	}
	.stockpurchcard{
		margin-bottom: 20vh;
		padding: 2.5vh 3vw 5vh 3vw;
		margin-top: 3vh;
	}
	.stockpurchcard label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		
		margin-bottom: 1rem;
	  }
	  .stockpurchcard input{
		color: black;
		margin-top: 1rem;
		flex: 0 0 4vh;
	}
}
/*large screens*/
@media only screen and (min-width: 601px){
	.navbar{
		top:0;
		width:5rem;
		/* must mathg margin-left of main*/
		height: 100vh;
	}
	.navbar:hover{
		width:16rem;
	}
	.navbar:hover .link-text{
		display: inline;
		transition: opacity 200ms;
	}
	.notifications{
		width: var(--big-card-size);
	}
	.msales{
		width: var(--big-card-size);
	}
	.restocklog{
		width: var(--big-card-size);
	}
	.stockpurchcard{
		margin-top: 20vh;
		padding: 5vh 3vw 8vh 3vw;
	}
	.stockpurchcard label {
		display: table-cell;
	}
	.stockpurchcard .inputbutton{
		color: black;
		margin-top: 1vh;
		width: auto;
		padding: 1vh 1vw 1vh 1vw;
		border: none;
		background: linear-gradient(90deg, rgba(50,36,177,1) 0%, rgba(81,45,212,1) 50%, rgba(113,54,252,1) 100%);
		color:#ffff;
		border-radius: 26px;
		transition: 0.2s;
		height:3rem;
		text-align: center;
		font-weight: 600;
		font-size: 0.8rem;
	}
	.stockpurchcard .inputbutton:hover{
		box-shadow: 0 0 0 4px #215c83, 0 0 0 8px var(--btn-primary);
	}
	.stockpurchcard ul{
		padding: 0;
		margin: auto;
		list-style-type: none;
		display: table;
		border-collapse:separate; 
		border-spacing: 0 1rem;
	}
	.stockpurchcard li{
		display: table-row;
	}
	.stockpurchcard .inputarea{
		display: table-cell;
		color:black;
		width: 12vw;
	}
}


