:root{
    font-size:16px;
    --text-primary: #b9b6b6;
    --text-secondary: #ececec;
    --bg-primary: #24588f;
    --bg-secondary: #3245b3;
    --transition-speed: 600ms;
}
*{
        text-decoration: none;
        font-family: sans-serif; /* Sans-serif Font */ 
        color: black; /* White Text */ 
}

body::-webkit-scrollbar{
    width:0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #6649b8;
}
body{
    background-image: url("bgwaves.svg") ;
    margin: 0;
    padding: 0;
} 

/* Login Screen*/
.loginwrapper{
    text-align: center; /* Centered Text */ 
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 { 
    font-family: sans-serif; /* Sans-serif Font */ 
    /*font-size: 3vw; /* Setting the font size equal to 4.5 times the height of*/
    font-size:calc(18px + 2vw);
    margin-bottom: 3vh;
    color: white;
}

.loginsubmitbutton{
    border: none;
    margin-top: 5vh;
    background: rgb(50,36,177);
    background: linear-gradient(90deg, rgba(50,36,177,1) 0%, rgba(81,45,212,1) 50%, rgba(113,54,252,1) 100%);
    color:#ffff;
    border-radius: 26px;
    transition: 0.2s;
    width: 90%;
    height:4em;
    text-align: center;
    font-size: medium;
    font-weight:600;
    font-size: 1rem;
}
.loginsubmitbutton:hover{
box-shadow: 0 0 0 4px white, 0 0 0 8px gray;
}
.logincard{
    text-align: center; /* Centered Text */ 
    margin:22vh;
    padding: 5vh 3vw 10vh 3vw;
    width:25vw;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 26px;
    border-width: 100px;
    backdrop-filter: blur(10px);
    min-width: 220px;
}
.textfield{
    display:grid;
    gap: 1.5vh;
    text-align: start;
    padding-left: 2vw;
    padding-right: 2vw;
    color: #55868C;
    width: auto;
}
.textfield input{
    border-width: 0;
    border-radius: 26px;
    padding: 2vh;
    background-color: #EAF7E8;
}
.error{
    margin-bottom: 3vh;
    color: white;
    font-size: 1.2rem;
}

main{
    margin-left: 5rem;
    padding: 1rem;
    background: white;
}
/* End of Login Screen */
/* Nav Bar */
.navbar{/*Nav Bar Wrapper*/
    background: var(--bg-secondary);
    position: fixed;
    transition: 200ms ease;
}
.navbar-nav{/*Navbar Container*/
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item{/*each Nav Items*/
    width: 100%;
}
.nav-item:last-child{/*last child*/
    margin-top: auto;
}
.nav-link{/* Each box of nav */
    display: flex;
    align-items: center;
    height: 5rem;/* must match margin-left of main*/
    text-decoration: none;
    filter: grayscale(100%) opacity(0.5);
    transition: var(--transition-speed);
}
.nav-link:hover{ /* box hover */
    background: #4d368c;
    transition: 200ms ease;
    filter: grayscale(0) opacity(1);
}
.link-text{ /* each nav button's label*/
    display: none;
    margin-left:1rem;
}
.nav-link svg{ /* each nav button's picture*/
    width: 1.5rem;
    margin: 0 1.5rem;
}
.nav-link:hover svg{ /* nav button on-hover*/
    fill: var(--bg-primary);
    transform: scale(1.5);  
}

.logo{ /* logo area */
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color:var(--text-primary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo svg{ /* logo icon */
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}
.navbar:hover .logo svg{ /*logo icon on-hover*/
    transform: rotate(360deg);
}   

/*small screens*/
@media only screen and (max-width: 600px){
.navbar{
    bottom:0;
    width:100vw;
    height:5rem;
}
.logo{
    display: none;
}
.navbar-nav{
    flex-direction:row;
}
.nav-link{
    justify-content: center;
}
main{margin: 0;
}
}
/*large screens*/
@media only screen and (min-width: 600px){
    .navbar{
        top:0;
        width:5rem; /* must mathg margin-left of main*/
        height: 100vh;
    }
    .navbar:hover{
        width:16rem;
    }
    .navbar:hover .link-text{
        display: inline;
        transition: opacity 200ms;
    }
}